/*  SLIDER*/

.nivooSlider {
    background-repeat: no-repeat;
    height: 350px;
	position:relative;
    overflow: hidden;
    width: 600px;
}
.nivooSlider img {
	left: 0;
	position: absolute;
	top: 0;
}
.nivooSlider a.nivoo-imageLink {
	border: none;
	display: none;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index:60;	
}

.nivoo-slice {
	display: block;
	height: 100%;
	position: absolute;
	z-index: 50;
}

.nivoo-caption {
	background: rgba(0, 0, 0, 0.8) !important;
	background: #000;
	bottom: -24px;
	color: #fff;
	height: 24px;
	line-height: 24px;
	left: 0;
	text-indent: 5px;
	position:absolute;
	z-index:89;
	width: 100%;
}

.nivoo-directionNav a {
	position: absolute;
	top: 45%;
	z-index: 99;
}
.nivoo-prevNav {
	left: 0;
}
.nivoo-nextNav {
	right: 0;
}

.nivoo-controlNav a {
	position: relative;
	z-index: 99;
}
.nivoo-controlNav a.active {
	font-weight: bold;
}