* {
    margin: 0;
    padding: 0;
}
body {
    background: #eee;
    color: #555;
    font: 12px/14px Georgia, serif; 
}
h1 {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 20px;
    text-shadow: 1px 1px 0 #fff;
}
a img {
    border: none;
}
#Wrapper {
    margin: 10px auto 0;
    width: 800px;
}
#Slider {
    margin-bottom: 20px;
    overflow: visible;
}
.nivoo-slider-holder {
    box-shadow: 0 0 10px rgba(100, 100, 100, .8);
}