#slider {
    height: 350px;
    overflow: hidden;
    width: 600px;
}

.nivooSlider {
    background-repeat: no-repeat;
	position:relative;
}

.nivooSlider img {
	left: 0;
	position: absolute;
	top: 0;
}

.nivoo-link {
	border: none;
	display: none;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 60;	
}

.direction-nav-left {
    left: 0;
}
.direction-nav-right {
    right: 0;
}
.direction-nav-left,
.direction-nav-right {
    position: absolute;
    top: 0;
    z-index: 100;
    }
    .direction-nav-left a,
    .direction-nav-right a {
        display: block;
    }
    .direction-nav-left a:focus,
    .direction-nav-right a:focus {
        outline: none;
    }
    .direction-nav-left a {
        background: url(images/arrow-left.png) no-repeat 2% 50%;
    }
    .direction-nav-right a {
        background: url(images/arrow-right.png) no-repeat 98% 50%;
    }

.nivoo-slice {
	display: block;
	height: 100%;
	position: absolute;
	z-index: 50;
}

/* caption */

.nivooSlider p {
    background: #181818;
	background: rgba(0, 0, 0, 0.8);
	bottom: -24px;
	color: #fff;
	height: 24px;
	line-height: 24px;
	left: 0;
    margin: 0;
	text-indent: 5px;
	position: absolute;
	width: 100%;
    z-index: 89;
}