.nivooSlider {
    background-repeat: no-repeat;
    box-shadow: 0 0 10px #000;
    height: 350px;
    margin: 5px;
    overflow: hidden;
	position:relative;
    width: 600px;
}

.nivooSlider img {
	left: 0;
	position: absolute;
	top: 0;
}

.nivoo-link {
	border: none;
	display: none;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index:60;	
}

.nivoo-slice {
	display: block;
	height: 100%;
	position: absolute;
	z-index: 50;
}

.nivoo-caption {
    background: #181818;
	background: rgba(0, 0, 0, 0.8);
	bottom: -24px;
	color: #fff;
	height: 24px;
	line-height: 24px;
	left: 0;
    margin: 0;
	text-indent: 5px;
	position: absolute;
	z-index: 89;
	width: 100%;
}